<%= link_to 'Manage Sources', event_sources_url %>
<h3>Results</h3>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Location</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |r| %>
      <% r[:events].each do |e| %>
        <tr>
          <td class="event-title">
            <%= link_to e.title, e.url %>
            <br />
            Sourced from: <%= r[:host] %>
          </td>
          <td>
            <%= e.date %>
          </td>
          <td>
            <%= e.location %>
          </td>
          <td>
            <a class="approve-event btn btn-warning">Approve Event</a>
          </td>
        </tr>
        <tr class="separator">
          <td colspan="4">
            <strong>Tags:</strong>
            <ul class="tag-list unstyled">
              <% e.tags.each do |tag| %>
                <li><%= tag["name"] %></li>
              <% end %>
            </ul> 
          </td>
        </tr> 
      <% end %>
    <% end %>
  </tbody>
</table>