<%= link_to 'Manage Sources', event_sources_url, :class => 'admin-link' %>
<h3>Results</h3>
<%= select_tag :source, options_from_collection_for_select(@sources, 'id', 'url') %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Location</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |r| %>
      <% r[:events].each do |e| %>
        <tr>
          <td class="event-title span6">
            <%= link_to e.title, e.url %>
            <br />
            Sourced from: <%= r[:host] %>
          </td>
          <td>
            <%= e.date %>
          </td>
          <td>
            <%= e.location %>
          </td>
          <td>
            <a class="preview-event btn btn-primary" href="<%= e.url %>">Preview Event</a>
            <br />
            <br />
            <a class="approve-event btn btn-danger">Approve Event</a>
          </td>
        </tr>
        <tr class="separator">
          <td colspan="1">
            <strong>Tags:</strong>
            <ul class="tag-list unstyled">
              <% e.tags.each do |tag| %>
                <li><%= tag["name"] %> <%= tag["score"] %></li>
              <% end %>
            </ul> 
          </td>
          <td colspan="3">
            <strong>Images:</strong>
            <ul class="image-list unstyled">
              <% e.images.each do |image| %>
                <li><%= image_tag image["url"], size: '100x100' %></li>
              <% end %>
            </ul> 
          </td>
        </tr> 
      <% end %>
    <% end %>
  </tbody>
</table>
<div id="page_preview_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Event Preview</h3>
  </div>
  <div class="modal-body">
    <iframe id="page_preview_frame" width="840" height="600"></iframe>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>