<% content_for :nav do %>
  <%= link_to 'Add New Source', new_event_source_url, :class => 'admin-link' %>
<% end %>
<h3>Sources</h3>
<table class="table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Region</th>
      <th class="center">Active Events</th>
      <th>Last Scraped</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td>
          <%= link_to source.title, event_source_path(source) %>
        </td>
        <td>
          <%= source.url %>
        </td>
        <td>
          <%= source.region %>
        </td>
        <td class="center">
          <%= source.events.unprocessed.count %>
        </td>
        <td>
          <%= source.last_scraped.strftime("%m/%d/%Y at %l:%M %p") %>
        </td>
        <td>
          <a class="hidden scrape-link btn">Scrape Site</a>
          <%= link_to 'Edit', edit_event_source_url(source), :class => 'btn btn-primary' %>
          <%= link_to 'Disable', source, confirm: 'Are you sure you want to disable this source?', method: :delete, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>