<% if @source.errors.any? %>
  <div id="errorExplanation">
    <h4><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h4>
    <ul>
    <% @source.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="control-group">
  <%= f.label :title, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :title, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :region, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :region, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :url, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :url, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :event_item_selector, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :event_item_selector, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :event_link_selector, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :event_link_selector, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :title_link_selector, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :title_link_selector, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :description_selector, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :description_selector, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :location_selector, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :location_selector, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :date_selector, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :date_selector, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :ticket_url_selector, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :ticket_url_selector, :class => 'span6' %>
  </div>
</div>