<% content_for :nav do %>
  <%= link_to 'Back to Sources', root_url, :class => 'admin-link' %>
<% end %>
<%= form_for @source, html: { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Create a New Event Source (All fields required)</legend>
    <%= render partial: 'event_sources/form', locals: { f: f }  %>
    <div class="form-actions">
      <%= link_to 'Cancel', root_url %>
      <%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>