<%= form_for @source, html: { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Create a New Event Source</legend>
    <div class="control-group">
      <%= f.label :url, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :url %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :event_item_selector, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :event_item_selector %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :title_link_selector, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :title_link_selector %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :location_selector, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :location_selector %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :date_selector, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :date_selector %>
      </div>
    </div>
    <div class="form-actions">
      <%= link_to 'Cancel', event_sources_url %>
      <%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>