<% if @source.errors.any? %>
  <div id="errorExplanation">
    <h4><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h4>
    <ul>
    <% @source.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="control-group">
  <%= f.label :title, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :title %>
  </div>
</div>
<div class="control-group">
  <%= f.label :subtitle, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :subtitle %>
  </div>
</div>
<div class="control-group">
  <%= f.label :category, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :category %>
  </div>
</div>
<div class="control-group">
  <%= f.label :start_date, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :start_date %>
  </div>
</div>
<div class="control-group">
  <%= f.label :description, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :description %>
  </div>
</div>
<div class="control-group">
  <%= f.label :event_url, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :event_url %>
  </div>
</div>
<div class="control-group">
  <%= f.label :ticket_url, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :ticket_url %>
  </div>
</div>
<div class="control-group">
  <%= f.label :media_url, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :media_url %>
  </div>
</div>