<% if @event.edited %>
  <div class="alert alert-warning">
    This event has been edited.
  </div>
<% end %>
<% if @event.errors.any? %>
  <div class="alert alert-error">
    <h4><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h4>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="control-group">
  <%= f.label :title, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :title, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :subtitle, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :subtitle, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :category, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :category, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :start_date, "Start date/time", class: "control-label" %>
  <div class="controls">
    <%= f.datetime_select :start_date, :class => 'span6', :ampm => true, :start_year => Time.now.year, :minute_step => 15 %>
    <br />
    <span class="text-warning">The scraped date was "<%= @event.date_time_string %>"</span>
  </div>
</div>
<div class="control-group">
  <%= f.label :description, class: "control-label" %>
  <div class="controls">
    <%= f.text_area :description, rows: 7, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :event_url, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :event_url, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :ticket_url, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :ticket_url, :class => 'span6' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :media_url, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :media_url, :class => 'span6' %>
  </div>
</div>
<input type="hidden" id="post_event" name="post_event" value="false">