<% content_for :nav do %>
  <%= link_to 'Back to Events', root_url, :class => 'admin-link' %>
<% end %>
<% if @event.processed %>
  <div class="alert alert-error">
    This event has been processed and cannot be edited.
  </div>
<% else %>
  <%= link_to 'Reject Event', reject_event_url(@event), method: :post, :class => 'btn btn-danger pull-right' %>
  <%= form_for @event, html: { :class => 'form-horizontal' } do |f| %>
    <fieldset>
      <legend>Edit This Event (Scraped <%= @event.created_at.strftime("%m/%d/%Y") %> from &quot;<%= @event.event_source.title %>&quot;)</legend>
      <%= render partial: 'events/form', locals: { f: f }  %>
      <div class="form-actions">
        <%= link_to 'Cancel', event_sources_url %>
        <%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
        <%= f.submit 'Save & Post to AppleButter', :class => 'btn btn-warning', name: 'post_event' %>
      </div>
    </fieldset>
  <% end %>
<% end %>