<%= link_to 'Back to Sources', event_sources_url, :class => 'admin-link' %>
<%= form_for @event, html: { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Update This Event</legend>
    <%= render partial: 'events/form', locals: { f: f }  %>
    <div class="form-actions">
      <%= link_to 'Cancel', event_sources_url %>
      <%= link_to 'Post to AppleButter', :class => 'btn btn-primary' %>
      <%= f.submit 'Save Changes', :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>